---
import Journals from "./test";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Grey Healer Journal</title>
	</head>
	<body>
		<h1 class="text-lg font-bold">Welcome to Grey Healer Journal</h1>
		<Journals url={import.meta.env.STRAPI_API} client:load/>
	</body>
</html>
