---
import i18next, { t, changeLanguage } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import Journals from "../journal-grid";

changeLanguage("id");
---

<html lang={i18next.language}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("home.title")}</title>
		<HeadHrefLangs/>
	</head>
	<body>
		<h1 class="text-lg font-bold">{t('home.title')}</h1>
		<ul class="flex gap-2 text-blue-400 underline">
			<li><a href="/">EN</a></li>
			<li><a href="/id">ID</a></li>
		</ul>
		<Journals url={import.meta.env.STRAPI_API} client:load/>
	</body>
</html>
